.skills{
    display: flex;
    flex-direction: column;
    width:"30rem";
   
    margin: 2rem 0 0 0;
    /* border: 2px solid red;  */
    background-color: rgb(250, 250, 250);
    padding: 1rem;
    border-radius: 0.5rem;
 
     /* font-family: 'Roboto', sans-serif; */
}
.skills>:nth-child(1){
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0.4rem;
}
.skills>:nth-child(1)>:nth-child(1){ 
    font-size: 2rem;
    font-weight: bold;
    color: navy;
 

}
.s-percentage{
    width: 5rem;
    height: 0.2rem;
    background-color:  navy;
}


.skills>:nth-child(2){
    display: flex;
    width: inherit;
    padding: 0.5rem 0.3rem 0.5rem 0.2rem;
    gap: 4rem;
    

}

.left-skills{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.score{
    padding: 0.4rem;
    margin: 0.2rem 0 0.2rem 0;
    box-shadow: 0.005rem 0.005rem 4px rgb(160, 137, 137);
    border-radius: 0.5rem;
}
.s-score{
   display: flex;
   justify-content: space-between;
   color: navy;
   font-weight: bold;  
}
.percentage{
    width: 100%;
    height: 0.5rem;
    margin: 0.8rem 0 0 0;
    background-color: rgb(180, 164, 133);
   position: relative;
}
.right-skills{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.right-skills{
    flex: 1;
}
.score{
    margin: 0.3rem 0 0.3rem 0;
}


