.footer {
    display: flex;
    align-items: center;
/* border: 2px solid red; */
top: 4rem;
    position: relative;
    margin-top: -15rem;
    margin-left: -10rem;
    margin-right: -10rem;
    margin-bottom: -6rem;
  }
  .f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    gap: 2rem;
    color: white;
  }
  .f-icons {
    display: flex;
    gap: 2rem;
  }